.google-map {
  width: 90%;
  height: 80vh;
}

.map {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cluster-marker {
  color: #fff;
  background: #1978c8;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
